@model EnterPriseWeb.Models.content

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>content</h4>
        <hr />


        <div class="form-group">
            @Html.LabelFor(model => model.content_title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.content_title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.content_title, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.content_post, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.content_post, new { @class = "form-control", @rows = "15", @id = "ContentCK" })
                @Html.ValidationMessageFor(model => model.content_post, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.account_id, "account_id", htmlAttributes: new { @class = "control-label col-md-2", @style = "display:none" })
            <div class="col-md-10">
                @Html.DropDownList("account_id", null, htmlAttributes: new { @class = "form-control", @style = "display:none" })
                @Html.ValidationMessageFor(model => model.account_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.faculty_id, "faculty_id", htmlAttributes: new { @class = "control-label col-md-2", @style = "display:none" })
            <div class="col-md-10">
                @Html.DropDownList("faculty_id", null, htmlAttributes: new { @class = "form-control", @style = "display:none" })
                @Html.ValidationMessageFor(model => model.faculty_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <ul>
                I confirm that what I am about to upload is my own work and that it has not, in whole or part, been presented elsewhere for assessment. In addition, I confirm that
                <li>All material which has been copied has been clearly identified as such by being placed inside quotation marks and a full reference to the source has been provided</li>
                <li>Any material which has been referred to or adapted has been clearly identified and a full reference to the source has been provided</li>
                <li>Any work not in quotation marks is in my own words</li>
                <li>I have not shared my work with any other student</li>
                <li>I have not taken work from any other student</li>
                <li>I have not paid anyone to do my work or employed the services of an essay or code writing agency</li>
                Where material has been used from other sources it has been properly acknowledged in accordance with the University's Regulations regarding Cheating and Plagiarism
            </ul>
            <label for="chkAgr">
                <input type="checkbox" id="chkAgr" />
                I Agree
            </label>
        </div>
        <div id="AddPost">
            <h3> You have to agree to upload</h3>
        </div>
        <div id="dvPost" style="display: none">
            
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        @*<div class="form-group" id="createbtn">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>*@
    </div>
}






<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
