@model IEnumerable<EnterPriseWeb.Models.DataPoint>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Ajax.BeginForm("IndexReport", "contents", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }))
{
    <h4>Report about contributions and contributors in @ViewBag.YearReport</h4>
    
    <select id="year" name="year">
        @for (int i = 2017; i <= DateTime.Now.Year; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
    <input type="submit" value="Report" class="btn btn-primary" />
    
}


@{
    var count = 0;
    foreach (var item in Model)
    {
        if (item.Numberofcontribution != 0)
        {
            count++;
        }
    }
    if (count == 0)
    {
        <h3 style="text-align:center">No Result Found</h3>
    }
    else
    {
        <div style="height:500px">
            <div id="chartContainer1" style="margin-top: 20px"></div>
        </div>
        <div style="height:500px">
            <div id="chartContainer4" style="margin-top: 20px"></div>
        </div>
        <div style="height:500px">
            <div id="chartContainer2"></div>
        </div>
        <div style="height:500px">
            <div id="chartContainer3"></div>
        </div>
        <hr />
        @Html.ActionLink("Export Report", "exportReport")
        <div class="table-edit">
            <table id="tableForReport" class="table">
                <thead class="table-cate-header">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.faculty_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.faculty_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Numberofcontribution)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PercentOfIssue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumberOfAccount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Numberofcontributionpublic)
                        </th>
                    </tr>
                </thead>
                <tbody class="table-cate-header">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.faculty_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.faculty_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Numberofcontribution)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PercentOfIssue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfAccount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Numberofcontributionpublic)
                            </td>
                        </tr>
                    }
                </tbody>
                
            </table>
            @*@Html.ActionLink("print report", "PrintViewToPdf")*@
        </div>

    }
    
}
<script>
    $(document).ready(function() {
        var option1 =
        {
            theme: "theme2",
            exportEnabled: true,
            animationEnabled: true,
            animationDuration: 2000,
            height: 500,
            title: {
                text: "Number of contributions post by student in @ViewBag.YearReport",
                maxWidth: 600,
                margin: 20,
            },
            axisX: { labelAngle: 0, },
            axisY: {
                title: "Contributions",
                interval: 1
            },
            data: [
            {
                type: "column",
                indexLabel: "{y}",
                indexLabelPlacement: "outside",
                indexLabelOrientation: "horizontal",
                indexLabelFontWeight: "bold",
                dataPoints: [],
            }
            ]
        };
        var option4 =
        {
            theme: "theme2",
            exportEnabled: true,
            animationEnabled: true,
            animationDuration: 2000,
            height: 500,
            title: {
                text: "Number of contributions is publicted in @ViewBag.YearReport",
                maxWidth: 600,
                margin: 20,
            },
            axisX: { labelAngle: 0, },
            axisY: {
                title: "Contributions",
                interval: 1
            },
            data: [
            {
                type: "column",
                indexLabel: "{y}",
                indexLabelPlacement: "outside",
                indexLabelOrientation: "horizontal",
                indexLabelFontWeight: "bold",
                dataPoints: [],
            }
            ]
        };

        var option2 =
        {
            theme: "theme2",
            animationEnabled: true,
            animationDuration: 2000,
            //height: 500,
            //width: 550,
            title: {
                text: "Percentage of contributions in @ViewBag.YearReport",
                maxWidth: 600,
                margin: 20,
            },
            legend: {
                fontSize: 15,
                verticalAlign: "center",
                horizontalAlign: "left",
                itemWidth: 200,
            },
            data: [
                {
                    type: "pie",
                    indexLabelFontSize: 15,
                    indexLabel: "#percent%",
                    percentFormatString: "#0.#",
                    radius: "75%",
                    showInLegend: true,
                    legendText: "{label}",
                    toolTipContent: "{label}: #percent%",
                    dataPoints: [],
                }
            ]
        };

        var option3 =
        {
            theme: "theme2",
            exportEnabled: true,
            animationEnabled: true,
            animationDuration: 2000,
            height: 500,
            title: {
                text: "Number of contributors within each Faculty in @ViewBag.YearReport",
                //maxWidth: 600,
                margin: 20,
            },
            axisX: { labelAngle: 0, },
            axisY: {
                title: "Student Number",
                interval: 1
            },
            data: [
            {
                type: "column",
                indexLabel: "{y}",
                indexLabelPlacement: "outside",
                indexLabelOrientation: "horizontal",
                indexLabelFontWeight: "bold",
                dataPoints: [],
            }
            ]
        };
        @foreach(var item in Model){
            @:option1.data[0].dataPoints.push({ label: "@item.faculty_name", y: @item.Numberofcontribution});
            @:option4.data[0].dataPoints.push({ label: "@item.faculty_name", y: @item.Numberofcontributionpublic});
            @:option2.data[0].dataPoints.push({label: "@item.faculty_name", y: @item.Numberofcontribution});
            @:option3.data[0].dataPoints.push({label: "@item.faculty_name", y: @item.NumberOfAccount});
        };
        chart1 = new CanvasJS.Chart("chartContainer1", option1);
        chart1.render();
        chart4 = new CanvasJS.Chart("chartContainer4", option4);
        chart4.render();
        chart2 = new CanvasJS.Chart("chartContainer2", option2);
        chart2.render();
        chart3 = new CanvasJS.Chart("chartContainer3", option3);
        chart3.render();
    });
</script>

